html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}
.page-area {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 600px) 1fr;
    height: 100%;
}
.content-area {
    grid-column: 2 / 3;
}
